<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/homework/votelogin.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/pagecounter.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/forwardparam/forward.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/js.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/form.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/exercise1.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/table.jsp</welcome-file>
    <welcome-file>/WEB-INF/jsp/jspTest.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>aa.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>